[submodule "indexed-js"]
	path = indexed-js
	url = https://github.com/indexed-finance/indexed.js.git
[submodule "indexed-core"]
	path = indexed-core
	url = https://github.com/indexed-finance/indexed-core.git
[submodule "indexed-uv2oracle"]
	path = indexed-uv2oracle
	url = https://github.com/indexed-finance/uniswap-v2-oracle.git
[submodule "uniswap-v2-core"]
	path = uniswap-v2-core
	url = https://github.com/Uniswap/uniswap-v2-core.git
[submodule "indexed-governance"]
	path = indexed-governance
	url = https://github.com/indexed-finance/governance.git
